# Question 1
Basic arithmetic

In [3]:
5*5+3

28

In [27]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%sql mysql+pymysql://root:password@localhost:3306/united_nations

(pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost:3306/united_nations', 'sqlite:///', 'sqlite:///chinook.db', 'sqlite:///united_nations.db'])

In [29]:
%pip install pymysql

Requirement already satisfied: pymysql in d:\anaconda3\envs\newnew\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [36]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [37]:
%sql mysql+pymysql://root:@localhost:3306/united_nations

'Connected: root@united_nations'

In [44]:
%%sql

select*
from
    united_nations.access_to_basic_services
    limit 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
   sqlite:///united_nations.db
10 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2020, Decimal('95.00'), Decimal('98.00'), Decimal('18.755666'), Decimal('171.08'), Decimal('2699700.00'), Decimal('4.89')),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2015, Decimal('89.67'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2016, Decimal('90.33'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2017, Decimal('91.00'), Decimal('97.33'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2018, Decimal('91.33'), Decimal('97.33'), None, None, None, None)]

In [47]:
%%sql

SELECT DISTINCT Country_name
FROM access_to_basic_services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
   sqlite:///united_nations.db
182 rows affected.

[('Kazakhstan',),
 ('Kyrgyzstan',),
 ('Tajikistan',),
 ('Turkmenistan',),
 ('Uzbekistan',),
 ('Afghanistan',),
 ('Bangladesh',),
 ('Bhutan',),
 ('India',),
 ('Iran (Islamic Republic of)',),
 ('Maldives',),
 ('Nepal',),
 ('Pakistan',),
 ('Sri Lanka',),
 ('China',),
 ("Democratic People's Republic of Korea",),
 ('Japan',),
 ('Mongolia',),
 ('Republic of Korea',),
 ('Brunei Darussalam',),
 ('Cambodia',),
 ('Indonesia',),
 ("Lao People's Democratic Republic",),
 ('Malaysia',),
 ('Myanmar',),
 ('Philippines',),
 ('Singapore',),
 ('Thailand',),
 ('Timor-Leste',),
 ('Viet Nam',),
 ('Bermuda',),
 ('Canada',),
 ('Greenland',),
 ('Saint Pierre and Miquelon',),
 ('United States of America',),
 ('Anguilla',),
 ('Antigua and Barbuda',),
 ('Aruba',),
 ('Bahamas',),
 ('Barbados',),
 ('British Virgin Islands',),
 ('Cayman Islands',),
 ('Cuba',),
 ('Curaçao',),
 ('Dominica',),
 ('Dominican Republic',),
 ('Grenada',),
 ('Guadeloupe',),
 ('Haiti',),
 ('Jamaica',),
 ('Martinique',),
 ('Montserrat',),
 ('Puerto Rico',),
 ('Saint Barthélemy',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Martin (French Part)',),
 ('Saint Vincent and the Grenadines',),
 ('Sint Maarten (Dutch part)',),
 ('Trinidad and Tobago',),
 ('Turks and Caicos Islands',),
 ('United States Virgin Islands',),
 ('Belize',),
 ('Costa Rica',),
 ('El Salvador',),
 ('Guatemala',),
 ('Honduras',),
 ('Mexico',),
 ('Nicaragua',),
 ('Panama',),
 ('Argentina',),
 ('Bolivia (Plurinational State of)',),
 ('Brazil',),
 ('Chile',),
 ('Colombia',),
 ('Ecuador',),
 ('Falkland Islands (Malvinas)',),
 ('French Guiana',),
 ('Guyana',),
 ('Paraguay',),
 ('Peru',),
 ('Suriname',),
 ('Uruguay',),
 ('Venezuela (Bolivarian Republic of)',),
 ('Algeria',),
 ('Egypt',),
 ('Libya',),
 ('Morocco',),
 ('Sudan',),
 ('Tunisia',),
 ('Armenia',),
 ('Azerbaijan',),
 ('Bahrain',),
 ('Cyprus',),
 ('Georgia',),
 ('Iraq',),
 ('Israel',),
 ('Jordan',),
 ('Kuwait',),
 ('Lebanon',),
 ('Oman',),
 ('Qatar',),
 ('Saudi Arabia',),
 ('State of Palestine',),
 ('Syrian Arab Republic',),
 ('Türkiye',),
 ('United Arab Emirates',),
 ('Yemen',),
 ('Australia',),
 ('New Zealand',),
 ('Fiji',),
 ('New Caledonia',),
 ('Papua New Guinea',),
 ('Solomon Islands',),
 ('Vanuatu',),
 ('Guam',),
 ('Kiribati',),
 ('Marshall Islands',),
 ('Micronesia (Federated States of)',),
 ('Nauru',),
 ('Northern Mariana Islands',),
 ('Palau',),
 ('American Samoa',),
 ('Cook Islands',),
 ('French Polynesia',),
 ('Niue',),
 ('Samoa',),
 ('Tokelau',),
 ('Tonga',),
 ('Tuvalu',),
 ('Wallis and Futuna Islands',),
 ('Burundi',),
 ('Comoros',),
 ('Djibouti',),
 ('Eritrea',),
 ('Ethiopia',),
 ('Kenya',),
 ('Madagascar',),
 ('Malawi',),
 ('Mauritius',),
 ('Mayotte',),
 ('Mozambique',),
 ('Rwanda',),
 ('Réunion',),
 ('Seychelles',),
 ('Somalia',),
 ('South Sudan',),
 ('Uganda',),
 ('United Republic of Tanzania',),
 ('Zambia',),
 ('Zimbabwe',),
 ('Angola',),
 ('Cameroon',),
 ('Central African Republic',),
 ('Chad',),
 ('Congo',),
 ('Democratic Republic of the Congo',),
 ('Equatorial Guinea',),
 ('Gabon',),
 ('Sao Tome and Principe',),
 ('Botswana',),
 ('Eswatini',),
 ('Lesotho',),
 ('Namibia',),
 ('South Africa',),
 ('Benin',),
 ('Burkina Faso',),
 ('Cabo Verde',),
 ("Côte d'Ivoire",),
 ('Gambia',),
 ('Ghana',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Liberia',),
 ('Mali',),
 ('Mauritania',),
 ('Niger',),
 ('Nigeria',),
 ('Saint Helena',),
 ('Senegal',),
 ('Sierra Leone',),
 ('Togo',)]

In [50]:
%%sql
INSERT INTO Country_list (Country)
SELECT DISTINCT Country_name
FROM Access_to_basic_services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
   sqlite:///united_nations.db
182 rows affected.

[]

In [55]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services
FROM Access_to_basic_services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
   sqlite:///united_nations.db
10 rows affected.

[('Kazakhstan', 2015, Decimal('94.67')),
 ('Kazakhstan', 2016, Decimal('94.67')),
 ('Kazakhstan', 2017, Decimal('95.00')),
 ('Kazakhstan', 2018, Decimal('95.00')),
 ('Kazakhstan', 2019, Decimal('95.00')),
 ('Kazakhstan', 2020, Decimal('95.00')),
 ('Kyrgyzstan', 2015, Decimal('89.67')),
 ('Kyrgyzstan', 2016, Decimal('90.33')),
 ('Kyrgyzstan', 2017, Decimal('91.00')),
 ('Kyrgyzstan', 2018, Decimal('91.33'))]

In [56]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services AS pct_access_to_water
FROM Access_to_basic_services
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
   sqlite:///united_nations.db
10 rows affected.

[('Kazakhstan', 2015, Decimal('94.67')),
 ('Kazakhstan', 2016, Decimal('94.67')),
 ('Kazakhstan', 2017, Decimal('95.00')),
 ('Kazakhstan', 2018, Decimal('95.00')),
 ('Kazakhstan', 2019, Decimal('95.00')),
 ('Kazakhstan', 2020, Decimal('95.00')),
 ('Kyrgyzstan', 2015, Decimal('89.67')),
 ('Kyrgyzstan', 2016, Decimal('90.33')),
 ('Kyrgyzstan', 2017, Decimal('91.00')),
 ('Kyrgyzstan', 2018, Decimal('91.33'))]

In [58]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services AS pct_access_to_water
FROM Access_to_basic_services

where
    time_period = '2020'
    order by
    pct_access_to_water 
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/united_nations
   sqlite:///united_nations.db
10 rows affected.

[('Central African Republic', 2020, Decimal('38.33')),
 ('Democratic Republic of the Congo', 2020, Decimal('47.67')),
 ('South Sudan', 2020, Decimal('48.33')),
 ('Angola', 2020, Decimal('52.33')),
 ('Chad', 2020, Decimal('52.67')),
 ('Burkina Faso', 2020, Decimal('53.33')),
 ('Madagascar', 2020, Decimal('56.33')),
 ('Papua New Guinea', 2020, Decimal('56.67')),
 ('Niger', 2020, Decimal('57.33')),
 ('Somalia', 2020, Decimal('57.33'))]